<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		
		<listener class-name="Resources.AutoBots.Listeners"></listener>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="BuildFrameWork.AutoBots.TextvalidationTest"/>
      <class name="BuildFrameWork.AutoBots.LoginValidationsTest"/>
      <class name="BuildFrameWork.AutoBots.ItemspageValidationTest"/>
      <class name="BuildFrameWork.AutoBots.HomepagevalidationsTest"/>
       <class name="BuildFrameWork.AutoBots.CheckoutpageValidationTest"/>
        <class name="BuildFrameWork.AutoBots.myorderstestvalidation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
